venv/ 
*.pyc 
__pycache__/ 
.env 
db.sqlite3 
.DS_Store
logs/
*.log
*.pot
local_settings.py
/static/

/media/
!/media/employee_profiles/
/media/employee_profiles/*
!/media/employee_profiles/.gitkeep

htmlcov/
.coverage
.pytest_cache/
/staticfiles/