{% extends 'dashboards/base.html' %}

{% block content %}
    {% include 'dashboards/partials/dashboard_header.html' with dashboard_title="Employee Dashboard" dashboard_subtitle="Welcome back, "|add:employee.full_name %}

    <div class="row">
        {% include 'dashboards/partials/user_info_card.html' %}
        {% include 'dashboards/partials/role_info_card.html' %}
    </div>

    {% include 'dashboards/partials/action_buttons.html' with section_title="Quick Actions" section_icon="fas fa-bolt" header_bg_class="bg-light" actions=quick_actions section_note="Note: Quick actions will be implemented in future phases" %}
    
{% endblock %}