{% extends 'dashboards/base.html' %}

{% block content %}
    {% include 'dashboards/partials/dashboard_header.html' with dashboard_title="Team Lead Dashboard" dashboard_subtitle="Welcome back, "|add:employee.full_name %}


    <div class="row">
        {% include 'dashboards/partials/user_info_card.html' %}
        {% include 'dashboards/partials/role_info_card.html' %}
    </div>

    <div class="row">
        {% include 'dashboards/partials/stats_card.html' with card_size="4" card_title="Team Overview" card_icon="fas fa-chart-pie" header_bg_class="bg-success" card_type="overview" stats_data=team_overview_data %}

        <div class="col-md-8 mb-4">
                {% include 'dashboards/partials/action_buttons.html' with section_title="Leadership Actions" section_icon="fas fa-tasks" header_bg_class="bg-warning text-dark" actions=leadership_actions section_note="Note: Leadership tools will be implemented in future phases" %}
        </div>
    </div>

    {% include 'dashboards/partials/data_table.html' with table_title="Your team members" table_icon="fas fa-users" table_headers=team_table_headers table_data=team_table_data empty_title="No Team Members Yet" empty_message="Team members will appear here once they are assigned to you." empty_icon="fas fa-users" %}
{% endblock %}